.login {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 30px auto;
}
.login__img img {
    object-fit: cover;
    object-position: 100% 50%;
    height: 100%;
    width: 100%;
    max-width: 400px;
}
.login__wrap {
    max-width: 450px;
}
.login__wrap h1 {
    font-weight: 500;
    font-size: 2.2rem;
    font-family: Helvetica Neue;
    line-height: 1.235;
}
.login__wrap h6 {
    font-size: 0.9285714286rem;
    font-family: Helvetica Neue;
    font-weight: 400;
    line-height: 1.5;
}
.login__wrap h6 span {
    font-size: 0.9285714286rem;
    font-family: Helvetica Neue;
    font-weight: 300;
    line-height: 1.5;
}
.login--color-primary {
    color: #228891;
}
.login--bg-color-primary {
    background-color: #228891 !important;
}
.login__line {
    display: flex;
    align-items: center;
}
.login__line hr {
    width: 150px;
    height: 0.5px !important;
}
.login--mt-15 {
    margin-top: 15px;
}
.login--mb-15 {
    margin-bottom: 15px;
}
.login--ml-10 {
    margin-left: 10px;
}
.login--mr-10 {
    margin-right: 10px;
}
